body {
    background-color: #201649;
    color: #F1E1FC;
    font-family: Acme;
    margin: 0;
}
p {
    font-size:100px;
}
div.toppage {
    width:auto;
    height: 200px;
    border: 10px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-image: url(media/Sil_YT-Banner.png);
    background-size: 100%;
    background-position: center;
    background-position-y: 720px;
}