/*Information -- Color Scemes*/
/*  text: #b8b8b8; background: #3a1332; primary: #28003d; secondary: #d392c3; accent: #ff9e9e;  */
/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Acme:700|Acme:400');

/*Mobile web build*/
html, body {max-width: 100%;overflow-x: hidden;}
div.scroller {height: 2000px; margin: 0px;}
body {
    background-color: #3a1332;
    color: #b8b8b8;
    font-family: Acme, Arial;
    margin: 0;
}
/*Top bar*/
div.verrytopbar {display:flex;flex:auto;flex-wrap: wrap;flex-direction:row;}
div.socials {display:flex;flex:auto;flex-direction:row;width:100%;justify-content: center;}
p.verrytopbartext {width: 100%;text-align:center;font-size:50px;}
a.socialslink {margin-left:3px;margin-right:3px;}
img.socialimagesize{height: 50px;}


img.fish {position: fixed; bottom: 0px; right: 5px; width: 100px;}
iframe.discord {position: absolute; display: inline-block; top: 830px; left: 10px; margin: 10px; height: 550px; width:92vw;}
iframe.twitch {display: inline-block;width: 99%;height: 550px;position: absolute; top: 280px; left: 3px;}

/* PC/Laptop Site */
@media screen and (min-width:600px) {
    iframe.discord {position: absolute; display: inline-block; top: 830px; right: 15px; margin: 10px; height: 550px; width:350px;}
}