body {
    background-color: #201649;
    color: #F1E1FC;
    font-family: Acme, Arial;
    margin: 0;
}


/*  div  */
div.verrytopbar {
    width: auto;
    height: 50px;
    border: 3px solid #23003d;
    background-color: #6100AD;
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    padding-top: 10px;
}
div.toppage {
    width:auto;
    height: 200px;
    border: 10px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-image: url(media/Sil_YT-Banner.png);
    background-size: 100%;
    background-position: center;
    background-position-y: 720px;
}


/*  p  */
p {
    font-size:100px;
}
p.verrytopbartext {
    color: #F1E1FC;
    font-family: Acme, Arial;
    font-size: 23px;
    margin-top: 0;
    padding-top: 0px;
    position: relative;
    top: 5px;
    width: 102px;
}


/*  a  */
a {
    color: #8b6bff;
    font-family: Acme, Arial;
    font-size: 23px;
    margin-top: 0;
    padding-top: 10px;
}
a.twitch {
    text-decoration: none;
    border: 1px solid #23003d; border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute; top: 14px; right: 200px;

}
a.youtube {
    text-decoration: none;
    border: 1px solid #23003d; border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute; top: 14px; right: 95px;
}

/*  Image  */
image.fish {
    position: fixed; 
    top: 100px;
    right: 100px;
}

/*  IFrames  */
iframe.discord {position: absolute; top: 280px; right: 15px; margin: 10px;}