/*Information -- Color Scemes*/
/*  text: #b8b8b8; background: #3a1332; primary: #28003d; secondary: #d392c3; accent: #ff9e9e;  */
/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Acme:700|Acme:400');

/*Mobile web build*/
html, body {max-width: 100%;overflow-x: hidden;}
div.scroller {height: 2000px; margin: 0px;}
body { display: flex;flex-flow: wrap;justify-content: flex-end;
    background-color: #3a1332;
    color: #b8b8b8;
    font-family: Acme, Arial;
    margin: 0px;
    padding:0px;
}
/*Top bar*/
div.verrytopbar {display:flex;flex:auto;flex-wrap: wrap;flex-direction:row;width:100%;}
div.socials {display:flex;flex:auto;flex-direction:row;width:100%;justify-content: center;position: absolute;top: 110px;}
p.verrytopbartext {width: 100%;text-align:center;font-size:50px;}
a.socialslink {height: 50px;margin-left:3px;margin-right:3px;}
img.socialimagesize{height: 50px;}

/* Main Content */
div.maincontent {display:flex;flex-flow: wrap;justify-content:flex-start;position: absolute;top:1330px;left:0px;width: 100%;}
div.aboutme {margin-left: 10px;background-color: #28003d;width: 96%;}

img.fish {position: fixed; bottom: 0px; right: 5px; width: 100px;}
iframe.discord {position: absolute; display: inline-block; top: 750px; margin-top: 15px; height: 550px; width:100%;}
iframe.twitch {display: inline-block;width: 99%;height: 550px;position: absolute; top: 200px;}

/* PC/Laptop Site */
@media screen and (min-width:700px) {
    /* Main Content */
    div.maincontent {display:flex;flex-flow: wrap;justify-content:flex-start;position: absolute;top:760px;left:0px;width: 100%;}
    div.aboutme {margin-left: 10px;}
    
    iframe.twitch {display: inline-block;width: calc(100% - 380px);height: 550px;position:absolute;top:200px;left:0px;}
    iframe.discord {position: absolute; display: inline-block; top: 185px; right: 15px; height: 550px; width:350px;}
}